body {
  background-color: aliceblue;
  color: #40514e;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}
h1 {
  color: #11999e;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}
h2 {
  font-size: 2.5rem;
  color:#11999e;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #11999e;
}
.top-container {
  background-color: #66bfbf;
  position: relative;
  padding-top: 50px;
}
.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.dev {
  text-decoration: underline;
}
.intro {
  width: 30%;
  margin: auto;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  top:40px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.mountain{
  width: 30%;
  position: absolute center;
  }
.profile-pic {
  background-color: beige;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.challenges-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
p {
  line-height: 2;
}
hr {
  border: dotted #11999e 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
p {
  line-height: 2;
}
.contact-message{
  width: 40%
  margin: 40px auto 60px;
}
.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family:'Montserrat' sans-serif ;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  background-color: #3D94F6;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #116266 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  }
  
  .btn:hover {
  border: solid #0059A0 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
  }
a{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}